@import '@tabler/core/dist/css/tabler.min.css';
@import '@tabler/core/dist/css/tabler-flags.min.css';
@import '@tabler/core/dist/css/tabler-payments.min.css';
@import '@tabler/core/dist/css/tabler-vendors.min.css';

@import 'mixins';

// Variables
@import 'variables';


// Base resets & typography
@import 'base';

// Componenets
@import 'components';
@import 'sections/project/task';
@import 'sections/project/meeting';
@import 'sections/project/members';
@import 'sections/project/chat';

// Landing page (sectioned)
@import 'main';

// Dashboard
@import 'dashboard';

// Admin
@import 'admin';

// Vue-tooltip
@import 'tooltip';

// User Notifications
@import 'user-notifications';

@import 'subscriptionModal';

@import 'sections/profile/twoFactorAuth';

@import 'sections/profile/component';

@import 'user-activities';

@import 'sections/project/insights';

@import '~bootstrap/scss/bootstrap';
